.input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1rem;
}

@media (max-width: 600px) {
.input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 0.9rem; /* 小さいデバイス向けにフォントサイズを調整 */
}
}